<h1>Welcome to Saiful Afiq's Node JS Assessment</h1>
<div>
    <a href="/api/register">Go to Register Page</a>
</div>
<div>
    <a href="/api/session/login">Go to Login Page</a>
</div>
<br>
<div style="color: red;">
    <span>*****************************************</span>
    <p>The above links are to test for REGISTER API and LOGIN API only. These APIs and other APIs can be tested by using the POSTMAN or anything that works.</p>
    <span>*****************************************</span>
</div>